.calendar-container {
  display: grid;
  grid-template: 1fr / 1fr;
  align-items: center;
  background-color: white;
  width: 100%;
  max-width: 960px;
  height: 100%;
  position: relative;
  margin: 0.5rem auto;
  padding: 1rem 0 2rem;
  overflow: hidden;
}
.form-weekday-container {
  overflow: hidden;
  display: grid;
  place-content: center;
  width: 100%;
  height: 100%;
  margin: 0;
  transition-duration: 0.3s;
  transform: translateX(0);
  padding: 0;
}

.calendar-container button:hover {
  border: 1px solid white;
  background: var(--main-green);
  color: white;
  border: 1px solid black;
}
.calendar-container button:disabled {
  background: white;
  color: lightgray;
}
.calendar-container button:disabled:hover {
  cursor: not-allowed;
  border: 1px solid var(--main-green);
}
@keyframes sliderMobile {
  0% {
    /* transform: translateX(0%); */
    opacity: 1;
  }
  100% {
    /* transform: translateX(200%); */
    opacity: 0;
  }
}
.form-weekday-container.form-active {
  transform: translateX(-100%);
  /* opacity:0 */
}
@keyframes unmount {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(50%);
  }
}
@keyframes slider2 {
  0% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(0%);
  }
}

/* @media screen and (min-width: 769px) {
  .calendar-container {
    grid-template: 1fr / 1fr 1fr;
  }
  .form-weekday-container {
    animation: unmount 0.5s forwards;
  }
  .form-weekday-container.form-active {
    animation: slider2 0.5s forwards;
  }
} */
