.calendar-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}
.calendar-header-date {
  font-size: clamp(.5rem,10vw,1.5rem);
  text-align: center;
  padding: 1rem;
  flex-grow: 1;
}
.display-month {
  font-style: italic;
  padding-top: 1rem;
}
.month-select .month-select-item:hover {
  cursor: pointer;
  border-color: var(--main-green);
  border-width: 4px;
  font-weight: bolder;
}
.button-select {
  background-color: transparent;
  height: 3rem;
  width: 3rem;
  margin: 0 1rem;
  border-radius: 5rem;
  transition: all 0.5s linear;
}
.button-select.hidden {
  opacity: 0;
}
.button-select:hover {
  background-color: var(--main-green);
}
.button-select img {
  height: 1.2rem;
}
.button-select.left img {
  transform: rotate(180deg);
}
