.calendar-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 1rem;
}
.calendar-header-date {
  font-size: clamp(0.5rem, 10vw, 1.5rem);
  text-align: center;
  padding: 1rem 1rem 0.5rem;
  flex-grow: 1;
}
.display-month {
  font-style: italic;
  padding-top: 1rem;
}
.month-select .month-select-item:hover {
  cursor: pointer;
  border-color: var(--main-green);
  border-width: 4px;
  font-weight: bolder;
}
.calendar-container .button-select {
  --btn-dimensions: clamp(0.5rem, 5vh, 3rem);
  background-color: transparent;
  height: var(--btn-dimensions);
  width: var(--btn-dimensions);
  margin: 0 1rem;
  border-radius: 5rem;
  transition: all 0.5s linear;
}
.calendar-container .button-select.hidden {
  opacity: 0;
}
.button-select:hover {
  background-color: var(--main-green);
}
.calendar-container .button-select img {
  height: clamp(0.5rem, 5vh, 1.2rem);
  margin: 0 auto;
}
.calendar-container .button-select.left img {
  transform: rotate(180deg) translateX(25%);
}
