.day {
  --dimension: clamp(0.8rem, 5vh, 3rem);
  overflow: hidden;
  z-index: 10;
  position: relative;
  height: var(--dimension);
  width: var(--dimension);
  background: transparent;
  text-align: center;
  border: 1px solid #afafaffb;
  font-size: clamp(0.5rem, 4vw, 1.5rem);
  color: #414141fb;
  border-radius: 50%;
  margin: 0.2rem auto;
  z-index: 1;
  display: grid;
  place-content: center;
}
.day:hover {
  cursor: pointer;
  border-color: var(--main-green);
  border-width: 4px;
  font-weight: bolder;
}
.selected-day {
  border-color: var(--main-green);
  color: white;
  background-color: var(--main-green);
}

.unavailable {
  cursor: not-allowed !important;
  border: 1px solid var(--not-available);
  color: var(--not-available);
}
.current-day {
  border-color: var(--action-color);
  border-width: 4px;
}
.unavailable:hover {
  font-weight: normal;
  border: 1px solid var(--not-available);
}
.current-day.unavailable:hover {
  font-weight: normal;
  border-color: var(--main-green);
  border-width: 4px;
}
