.creation-form-container {
  height: 80%;
  width: 100%;
  border-left: 1px solid black;
  transform: translateX(200%);
  display: grid;
  place-content: center;
  padding: 0 3rem;
}
.creation-form-container h1 {
  margin-bottom: 2rem;
}
.form-element {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.sub-text {
  font-size: 0.8rem;
  padding: 1rem;
  width: 100%;
  text-align: center;
}
.form-buttons {
  text-align: center;
  width: 100%;
  margin-top: 1rem;
  position: relative;
}

@keyframes slider {
  85% {
    transform: translateX(-5%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes sliderY {
  85% {
    transform: translateY(-5%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes fader {
  0% {
    opacity: 0.2;
  }
  75% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
.creation-form-container.form-active {
  animation: fader 1s forwards, sliderY 1s forwards;
}
@media screen and (min-width: 769px) {
  .creation-form-container.form-active {
    animation: fader 1s forwards, slider 1s forwards;
  }
}
