/* button {
  padding: 0.5rem;
  background-color: var(--main-green);
  text-transform: uppercase;
  border: 1px solid var(--main-green);
  border-radius: 5rem;
  color: white;
  margin: 1rem;
}

button:hover {
  border: 1px solid var(--main-green);
  border-radius: 5rem;
} */
